.electionWrap {
  margin-left: 20%;
  padding-bottom: 50px;
}

.cardGroup {
  position: relative;
  left: 150px;
  margin-top: 20px !important;
}

.candidategroup {
  margin-left: 27%;
  margin-top: 5%;
}

.inputGroup {
  width: 50%;
  margin-top: 100px;
  margin-left: 160px;
  padding-bottom: 50px;
  /* border: 2px solid gray; */
}

.inputGroup > h2 {
  margin-left: 26%;
}

.zip {
  width: 200px !important;
}
