:root {
}

.loader {

}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #0A192F;
  outline-style: none;
}

ul {
  list-style-type: none;
  display: inline-flex;
  position: absolute;
  left: 35%;
  top: 2%;
  animation: nav-load 900ms ease-in;
  orientation: landscape;
}

.link {
  margin-left: 120px;
  padding-bottom: 20%;
  color: white;
  cursor: pointer;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 600;
  animation: nav-load 900ms ease-in-out;

}

h1 {
  color: #CCD6F6;
  margin-left: 40%;
}

#coverPic {
  height: 650px;
  width: 80%;
  position: absolute;
  left: 9%;
  z-index: 1;
}

img {
  float: left;
  height: 56px;
  width: 115px;
  margin-top: 0;
}

nav {
  background-color: #4D6ACE;
  overflow: hidden;
  padding: 15px;
  animation: nav-load 500ms ease-in;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

h2:before {
  position: relative;
  bottom: 65px;
  height: 0px;
  width: 20px;
  border-top: 3px solid red;
  display: inline-block;
  content: '';
  z-index: 2;
}

h2 {
  position: absolute;
  color: #fff;
  font-family: "Merriweather",serif;
  font-weight: 700;
  font-size: 2.375rem;
  letter-spacing: -.32px;
  z-index: 2;
  left: 15%;
  top: 65%;
  -webkit-font-smoothing: antialiased;
}

.flexContainer {
  display: flex;
}

.card-1, .card-2 {
  height: 400px;
  width: 550px;
  position: absolute;
  top: 93%;
  left: 10%;
  background-color: #212E5E;
  margin-left: 10px;
  border-radius: 87px;
}

.card-3, .card-4 {
  height: 400px;
  width: 550px;
  position: absolute;
  top: 150%;
  left: 14%;
  background-color: #212E5E;
  margin-left: 10px;
  border-radius: 87px;

}

.card-4 {
  margin-left: 730px;
  display: inline-block;
}
 
.card-1:hover {
  box-shadow: 10px 10px 5px 5px purple;

}
.card-2:hover {
  box-shadow: 10px 10px purple;

}

.card-1 {
  margin-left: 100px;
  display: flex;
}

.card-1 > p, .card-2 > p, .card-3 > p, .card-4 > p {
  color: var(--slate);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: var(--font);
  position: absolute;
  top: 60%;
  left: 17%;
  font-weight: 700;
  font-size: 2.375rem;
  cursor: pointer;
  line-height: 1;
  user-select: auto;
}

.card-1 > p:hover {
  text-decoration: underline;
}

.card-2 {
  margin-left: 800px;
}

.card-3 > p:hover {
  text-decoration: underline;

}

.card-4 > p:hover {
  text-decoration: underline;
}
.card-2 > p:hover {
  text-decoration: underline;
}

#searchBar {
  position: absolute;
  top: 80%;
  left: 32%;
}

input {
  font-size: 20px;
  height: 82.5px;
  width: 592.8px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
}

button {
  height: 86px;
  width: 88.5px;
  background-color: white;
  position: relative;
  right: 92px;
  top: -3px;
  border: none;
  cursor: pointer;
  stroke: #4D6ACE;
  stroke-width: 5;
}

#searchBar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20%;
  border-bottom: 2px solid #d5d7db;
  width: 18%;
}

#searchBar::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -7%;
  border-bottom: 2px solid #d5d7db;
  width: 18%;
}

.farm, .server, .building, .media {
  height: 150px;
  width: 200px;
  position: absolute;
  top: 25%;
  left: 10%;
  display: flex;
  transition: transform 1s ease-in infinite alternate;
  backdrop-filter: blur(10px);
  pointer-events: auto;

}

.farm {
  transition: transform 1s cubic-bezier(0.29, 0.01, 0.76, 0.98);
}

.farm:hover {
  transform: translateX(100%);
  /* animation: left-to-right 3s ease-in; */
}

@keyframes left-to-right {
  100% {
    transform: translateX(100%);
  }
}

.farm-2, .server-2, .building-2, .media-2 {
  height: 150px;
  width: 200px;
  position: absolute;
  top: 25%;
  left: 54%;

}

#persons {
  margin-top: 108%;
  margin-left: 10%;
}

picture > img {
  width: 100px;
  height: 100px;
}

.honorPerson {
  display: inline-block;
  margin-left: 20px;
  height: 200px;
  width: 350px;
  background: orange;
  cursor: pointer;
  pointer-events: auto;
  /* padding: 25px; */
}

h3 {
  position: absolute;
  margin-top: 78%;
  margin-left: 100%;
  writing-mode: vertical-lr;
  color: white;
}


/* .topNav a {
  float: right;
  text-align: center;
  font-size: 17px;
  color: white;
  margin-left: 42px;
} */