th div {
  margin-top: -30px;
  position: absolute;
  text-align: center;
}

table {
  height: 700px;
  margin-top: 20px;
  display: inline-block;
  overflow: auto;
  width: 60%;
}

th {
  width: 400px;
  border: none !important;
}