th div {
  margin-top: -30px;
  position: absolute;
  text-align: center;
}

.tableCovidData {
  height: 700px;
  margin-top: 20px;
  display: inline-block;
  overflow: auto;
  width: 60%;
}

.covidTableTH {
  width: 400px;
  border: none !important;
}

.graph {
  margin-right: 400px;
  margin-bottom: 100px;
}

.barGraph {
  margin-right: 400px;
  margin-bottom: 100px;
}

.tableCovid {
  padding-bottom: 150px;
}