@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  margin-left: 100px;
}

.cover-splash {
  margin-top: 100px;
}

.head-title {
  font-family: 'Rubik', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  font-weight: 450;
  margin-left: 15%;
}

.title-descript {
  margin-top: 20px;
  font-size: 14px;
  color: grey;
}

.internet-controls {
  margin-top: 150px;
  background-color: darkblue;
}

#internet {
  padding-top: 20px;
  color: white;
}

.display-cards {
  display: flex;
}

.info-wrap {
  margin-left: 100px;
  padding-bottom: 50px;
}

.info {
  display: inline-block;
  
}
.down-arrow {
  margin-top: 10px;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.card:hover {
  cursor: pointer;
}

.economy {
  position: relative;
  margin-top: 150px;
  width: 100vw;
  height: 50vh;
}

.line {
  height: 2px;
  width: 400px;
  background-color: tan;
  margin-left: 100px;
}

.econ-list {
  margin-top: 100px;
}

li {
  word-wrap: break-word;
}

.healthcare {
  margin-top: 200px;
  background-color: rgb(31, 147, 201);
}

.healthcare > h1 {
  color: aqua;
}

.environment {
  margin-top: 200px;
}

.foreign-policy {
  margin-top: 200px;

}

.cross-wrap-outer {
  margin-left: 300px;
  margin-top: 70px;
}

.cross-wrap {
  height: 100px;
  width: 100px;
} 

.vertical-econList {
  position: relative;
  margin-left: 55%;
}

.econ-topics {
  margin-bottom: -10px;
  cursor: pointer;
}

.econ-topics::before {
  content: "";
  height: 20px;
  position: absolute;
  left: -23px;
  border: 2px solid #876450;

}

.econ-topics:hover {
  color: rgb(57, 57, 209);
}

.econ-topics:hover:before {
  border: 2px solid rgb(57, 57, 209);
}

h1 {
  font-family: Lato,sans-serif;
}

#econ-descrip {
  font-size: 15px;
  margin-top: 100px;
  margin-left: 500px;
}

.econ-panel {
  position: absolute;
  right: 120%;
  display: inline-block;
  height: fit-content;
  width: 400px;
}

.econ-descript > p {
  position: relative;
}