@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  margin-left: 100px;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.cover-splash {
  position: relative;
  margin-top: 100px;
}

.cover-img {
  position: absolute;
  left: 50%;
  top: -80px;
}

.cover-img > img {
  height: 350px;
  width: 650px;
  border-radius: 5px;
}

.head-title {
  font-family: 'Rubik', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  font-weight: 450;
  margin-left: 15%;
}

.title-descript {
  margin-top: 20px;
  font-size: 14px;
  color: grey;
}

.speeches {
  margin-top: 300px;
}

.speeches img {
  height: 300px;
  margin-left: 150px;
  border-radius: 5px;
}

.speeches .title {
  margin-left: 40%;
  color: rgb(119, 119, 25);
}

.internet-controls {
  margin-top: 200px;
  background-color: black;
}

.internet-controls .line {
  margin-bottom: 30px;
}

.internet-controls img {
  width: 500px;
  margin-left: 300px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.img-container {
  display: flex;
}

.ai-link {
  cursor: pointer;
  position: relative;
  top: 90px;
  right: 30px;
  color: brown;
  background-color: lightgoldenrodyellow;
  height: 30px;
  padding: 20px 100px 40px 60px;
  text-decoration: none;
}

.ai-link a {
  font-size: 16px;
}

#internet {
  padding-top: 20px;
  color: white;
}

.display-cards {
  display: flex;
}

.info-wrap {
  margin-left: 100px;
  padding-bottom: 50px;
}

.info {
  display: inline-block;
  
}
.down-arrow {
  margin-top: 10px;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.card:hover {
  cursor: pointer;
}

.economy {
  position: relative;
  margin-top: 50px;
  width: 100vw;
  height: 145vh;
}

.econ-wrap {
  background-image: linear-gradient(white, lightBlue);
  height: 145vh;
}

.economy > div > div > h1 {
  padding-top: 20px;
  color: black;
  margin-left: 40%;
}

.economy .line {
  margin-left: 35%;
}

.line {
  height: 2px;
  width: 400px;
  background-color: tan;
  margin-left: 100px;
}

.econ-list {
  margin-top: 100px;
}

li {
  word-wrap: break-word;
}

.healthcare {
  background-color: black;
}

.healthcare > h1 {
  padding-top: 50px;
  color: aqua;
}

.environment {
  margin-top: 200px;
}

.foreign-policy {
  margin-top: 200px;

}

.cross-wrap-outer {
  margin-left: 300px;
  margin-top: 70px;
}

.cross-wrap {
  height: 100px;
  width: 100px;
} 

.vertical-econList {
  position: relative;
  margin-left: 60%;
}

.econ-topics {
  margin-bottom: -10px;
  cursor: pointer;
}

.econ-topics::before {
  content: "";
  height: 20px;
  position: absolute;
  left: -23px;
  border: 2px solid #876450;

}

.econ-topics:hover {
  color: rgb(57, 57, 209);
}

.econ-topics:hover:before {
  border: 2px solid rgb(57, 57, 209);
}

h1 {
  font-family: Lato,sans-serif;
}

#econ-descrip {
  font-size: 15px;
  margin-top: 100px;
  margin-left: 500px;
}

.chart-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.barChart {
  height: 300px;
  width: 400px;
}

.lineChart {
  height: 335px;
  width: 400px;
}

.econ-panel {
  position: absolute;
  right: 120%;
  display: inline-block;
  height: fit-content;
  width: 400px;
}

#panel-1 img, #panel-2 img, #panel-4 img {
  height: 300px;
  width: 470px;
  border-radius: 10px;

}

#panel-1 p, #panel-2 p, #panel-4 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 450;
}

.econ-descript {
  margin-top: -100px;
}

.vertical-econList {
  margin-top: 200px;
}

.econ-descript > p {
  position: relative;
}

.budget .chart {
  margin-top: 50px;
  margin-left: 30%;
  height: 500px;
  width: 1070px;
}

.budget {
  margin-top: 300px;
}

.foreign-policy {
  background-color: black;
}

.foreign-policy h1 {
  color: white;
  padding-top: 50px;
}