/* .wrapper {
  background-color: tan;
}

.list-wrap {
  height: 200px;
  width: 40vw;
  background-color: green;
} */

.list-wrap > ul > li {
  position: relative;
  top: 100px;
  right: 400px;
  font-size: 15px;
  color: black;
  padding-left: 30px;
}