:root {
  --slate: #ccd6f6;
  --navy: rgb(2,12,27,0.7);
  --light-navy: #112240;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #0A192F;
  outline-style: none;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  display: inline-flex;
  position: absolute;
  left: 35%;
  top: 2%;
  animation: nav-load 900ms ease-in;
  orientation: landscape;
}

.link {
  margin-left: 120px;
  padding-bottom: 20%;
  color: white;
  cursor: pointer;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 600;
  animation: nav-load 900ms ease-in-out;

}

h1 {
  color: #CCD6F6;
  margin-left: 40%;
}

#coverPic {
  height: 650px;
  width: 80%;
  position: absolute;
  left: 9%;
  z-index: 1;
  object-fit: cover;
  object-position: 100px;
}

img {
  float: left;
  height: 56px;
  width: 115px;
  margin-top: 0;
}

nav {
  background-color: hsl(227, 57%, 55%, 0.9);
  overflow: hidden;
  padding: 15px;
  animation: nav-load 500ms ease-in;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

h2:before {
  position: relative;
  bottom: 65px;
  height: 0px;
  width: 20px;
  border-top: 3px solid red;
  display: inline-block;
  content: '';
  z-index: 2;
}

h2 {
  position: absolute;
  color: #fff;
  font-family: "Merriweather",serif;
  font-weight: 700;
  font-size: 2.375rem;
  letter-spacing: -.32px;
  z-index: 2;
  left: 15%;
  top: 65%;
  -webkit-font-smoothing: antialiased;
}

.flexContainer {
  display: flex;
}

.card-1, .card-2 {
  height: 300px;
  width: 550px;
  position: absolute;
  top: 93%;
  left: 10%;
  background-color: #757c929d;
  margin-left: 10px;
  border-radius: 57px;

}

.card-3, .card-4 {
  height: 300px;
  width: 550px;
  position: absolute;
  top: 130%;
  left: 15%;
  background-color: #757c929d;
  margin-left: 10px;
  border-radius: 57px;

}

.card-5, .card-6 {
  height: 300px;
  width: 550px;
  position: absolute;
  top: 167%;
  left: 15%;
  background-color: #757c929d;
  margin-left: 10px;
  border-radius: 57px;

}

.card-6 {
  margin-left: 710px;
}

.card-4 {
  margin-left: 710px;
  display: inline-block;
}
 
.card-1:hover {
  box-shadow: 10px 10px 5px 5px rgb(86, 70, 143);

}
.card-2:hover {
  box-shadow: 10px 10px 5px 5px rgb(86, 70, 143);

}

.card-1 {
  margin-left: 100px;
  display: flex;
  transition: var(--transition);
}

.card-1 > p, .card-2 > p, .card-3 > p, .card-4 > p, .card-5 > p, .card-6 > p {
  color: orange;
  font-family: var(--font-sans);
  position: absolute;
  top: 60%;
  left: 17%;
  font-weight: 700;
  font-size: 2.1rem;
  cursor: pointer;
  line-height: 1;
  user-select: auto;
}

.card-1 > p:hover {
  text-decoration: underline;
}

.card-2 {
  margin-left: 800px;
}

.card-3 > p:hover {
  text-decoration: underline;

}

.card-4 > p:hover {
  text-decoration: underline;
}
.card-2 > p:hover {
  text-decoration: underline;
}

#searchBar {
  position: absolute;
  top: 80%;
  left: 32%;
}

input {
  font-size: 20px;
  height: 82.5px;
  width: 592.8px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
}

button {
  height: 80.5px;
  width: 88.5px;
  background-color: white;
  position: relative;
  right: 92px;
  top: -3px;
  border: none;
  cursor: pointer;
  stroke: #4D6ACE;
  stroke-width: 5;
}

#searchBar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20%;
  border-bottom: 2px solid #d5d7db;
  width: 18%;
}

#searchBar::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -7%;
  border-bottom: 2px solid #d5d7db;
  width: 18%;
}

.farm, .server, .building, .media, .earth, .health {
  height: 100px;
  width: 150px;
  position: absolute;
  top: 25%;
  left: 10%;
  display: flex;
  transition: transform 1s ease-in infinite alternate;
  backdrop-filter: blur(10px);
  pointer-events: auto;
  object-fit: contain;

}

.farm {
  transition: transform 1s cubic-bezier(0.29, 0.01, 0.76, 0.98);
}

.farm:hover {
  transform: translateX(100%);
}

@keyframes left-to-right {
  100% {
    transform: translateX(100%);
  }
}

.farm-2, .server-2, .building-2, .media-2, .earth-2, .health-2 {
  height: 150px;
  width: 200px;
  position: absolute;
  top: 15%;
  left: 54%;
  object-fit: contain;

}

#persons {
  margin-top: 108%;
  margin-left: 10%;
}

picture > img {
  width: 100px;
  height: 100px;
}

.honorPerson {
  margin-left: 3px;
  padding: 5px;
  background: rgb(161, 115, 115);
  cursor: pointer;
  pointer-events: auto;
  mix-blend-mode: screen;
}

.honorPerson:hover {
  mix-blend-mode: normal;
}

#side, span {
  position: absolute;
  margin-left: 98%;
  overflow-x: hidden;
  writing-mode: vertical-rl;
  font-size: 15px;
  color: white;
  z-index: 100;
  white-space: nowrap;
  margin-block-start: -30%;
  margin-inline-start: -35%;
  /* margin-inline-end: -45%; */
}

.default {
  display: inline;
  margin-left: 15px;
  /* box-sizing: border-box; */
}

h3 {
  color: white;
  font-size: 34px;
  text-decoration: underline;
  position: absolute;
  left: 450px;
  top: 255%;
}

.grid-container {
  display: grid;
  padding: 5px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px 300px;
  row-gap: 10px;
  position: absolute;
  height: max-content;
  width: fit-content;
  left: 350px;
  top: 275%;
  background-color: rgb(160, 66, 66);
}

.grid-of-smallcards {
  position: absolute;
  top: 190%;
  left: 35%;
  border-style: dashed;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 180px;
  left: -350px;  
  margin-left: 20px;
  justify-content: space-around;
  cursor: pointer;

}

.trophy, .speech, .progress {
  position: absolute;
  top: 45%;
  left: 34%;
  object-fit: contain;
  transform: scale(2.8);
}

.speech {
  transform: scale(4.5);
  top: 55%;
  left: 36%;
}

[class*="to-be"] {
  position: absolute;
  /* display: inline-block; */
  left: -100px;
  padding: 130px;
  padding: 30px 80px 280px 80px;
  box-shadow: 0 10px 30px -15px var(--navy);
  background-color: var(--light-navy);
  transition: var(--transition);
}

[class*="to-be"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.to-be-defined-1 {
  margin-left: 500px;
  max-height: 405.5px;
  max-width: 418.09px;
}

.to-be-defined-2 {
  margin-left: 1000px;
  max-height: 405.5px;
  max-width: 418.09px;
}

embed {
  padding-left: 30px;
  height: 90px;
  width: 90px;
  position: absolute;
  left: 0;
  top: 0;
}

h4 {
  position: relative;
  left: 25px;
  bottom: 35px;
  display: block;
  /* margin: 0px 0px 0px 120px; */
  font-size: 25px;
  color: var(--slate);
  white-space: nowrap;
  color: aqua;
}

.bottom {
  position: absolute;
  top: 345%;
  width: 100%;
  height: 90%;
}

.outer-wrap {
  position: absolute;
  top: 426%;
  left: 35%;
  height: 215.59px;
  width: 592px;
  background-color: black;
}

#inputF {
  width: 400px;
  height: 62px;
  position: absolute;
  top: 50%;
  left: 5%;
}

#submitButton {
  height: 63.09px;
  width: 90px;
  position: absolute;
  top: 50%;
  left: 75%;
  line-height: 2.07143;
  font-weight: 700;
  padding: 0.2em .5em;
}

#updates {
  position: absolute;
  top: 0%;
  left: 4%;
  font-size: 35px;
  white-space: nowrap;
}





/* .topNav a {
  float: right;
  text-align: center;
  font-size: 17px;
  color: white;
  margin-left: 42px;
} */